.canvas{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
}

#img-youtube{
    flex-grow: 1;
    height: 20px;
    width: 90px;
    padding: 18px, 14px, 18px, 16px;
    flex: none;
    margin-left: 20px;
    margin-right: 80px; 
    margin-top: 15px;
}

#bars{
    flex-grow: 1;
    margin-left: 20px;
    margin-top: 15px;
}

.search-container {
    flex-grow: 10;
}
#search{
   margin-top: 15px;
   flex-grow: 10;
   width: 700px;
   border-radius: 2px;
}

#search-button{
   
}

#microphone{
   
}

#create-post{
    
}

#bell{
   
}